body{
    margin: 0;
    background-color: purple;
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
}

header{
    display: flex;
    height: 60px;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

h1{
    color: #111;
    font-family: sans-serif;
}

.image-header{
    border-radius: 50%;
    height: 60px;
    margin-right: 60px;
}

.image-main{
    width: 600px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #111;
    margin-right: 16px;
    font-weight: bold;
}

.title-header{
    color:#111
}

.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
}

h3{
    font-size: 24px;
}

.main-content{
    display: flex;
    align-items: center;
    width: 80%;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4{
    font-size: 24px;
    margin-bottom: 0;
}

li{
    font-size: 20px;
    margin-bottom: 16px;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    /* padding: 10px 60px; */
    align-items: center;
    width: 100%;
}

p{
    color: #111; 
    font-size: 20px;   
    margin-left: 40px;
}

.footer-image{
    margin-left: 16px;
    width: 20px;
    height: 20px;
} 