*{
    margin: 0;
    font-family: 'Roboto';
}

body{
    background-color: #4A5568;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    position: fixed;
}

div>a{
    text-decoration: none;
    color: #718096;
    font-weight: bold;
    margin-right: 16px;
    font-size: 16px;
}

div>a:hover{
    color: #2D3748;
}

header>h1{
    text-transform: uppercase;
    cursor: pointer;
}

header>h1:hover{
    color: #2D3748;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section>div{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    align-items: center;   
    background-image: url("/logo.jpeg");
    background-repeat: no-repeat;
    background-position: right center;
   
}

.first-section>div>h1{
    color: white; 
    margin-left: 60px;
    overflow: hidden;
    font-weight: normal;
}

.first-section>div>h1:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }

.second-section{
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto-sobre-mim{
    margin-right: 32px;
}

.texto-sobre-mim>h1{
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.texto-sobre-mim>button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
} 

.texto-sobre-mim>button:hover{
    background: #CBD5E0;
} 

.third-section{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 80px;
}

.third-section>h1{
    color: white;
    font-size: 24px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.cursos{
    margin-top: 60px;
    border-radius: 20px;
    cursor: pointer;
    width: 240px;
    height: 300px;
    padding: 20px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.cursos:hover{    
    transform: scale(1.1);
}

.cursos>h1{
    color: black;
    font-size: 24px;
    text-align: center;
}

.cursos>h2{
    color: black;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    font-weight: normal;
}

.cursos>ul{
    list-style: none;
    text-align: left;
}

.cursos>ul>li{
    text-align: left;
    margin-top: 20px;
}

.stacks{
    margin-top: 80px;
}

.stacks>h1{
    text-align: center;
}

.stacks-images{
    display: flex;
    margin-top: 40px;
}

.stacks-images>h1{
    margin-right: 60px;
    cursor: pointer;
}

.stacks-images>h1:hover{
    color: orange;
}


.fourth-section{
    background-color: #4A5568;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 80px;
}

.fourth-section>div{
    border-radius: 20px;
    cursor: pointer;
    width: 320px;
    height: 340px;
    padding: 20px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.fourth-section>div:hover{    
    transform: scale(1.1);
}

.cartao-embaixo{
    margin-top: 400px;
}

.fourth-section>div>a>h1{    
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.fourth-section>div>a>p{    
    color: white;
    margin-top: 8px;
    font-weight: normal;
    font-size: 16px;
}

.last-section{
    background-color: white;
    width: 100%;
    height: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
}

.last-section>div{
      display: flex;
      align-items: center;
}


.icones{
    color: white;
    width: 24px;
}
